@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.posterImage {
  height: 600px;
}

.posterImage > img {
  margin: auto;
  display: block;
  width: 100%;
}

.posterImage__overlay {
  position: absolute;
  bottom: 0px;
  height: 70%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(11, 11, 11, 0.936),
    rgb(0, 0, 0)
  );
  transition: opacity 0.3s;
}

.posterImage__title {
  font-weight: 900;
  font-size: 4rem;
  margin-bottom: 0.4rem;
  text-align: left;
  font-family: "Nunito", sans-serif;
}

.posterImage__date {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.posterImage__rating {
  margin-left: 3rem;
}
.fa-star {
  color: #f5c518;
  margin-left: 2px;
}

.posterImage__description {
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 0.25rem;
  display: flex;
  text-align: center;
  width: 50%;
  font-family: "Nunito", sans-serif;
}

.carousel-root {
  height: 80vh;
}

@media (min-width: 200px) and (max-width: 600px) {
  .carousel .slide img {
    width: 100%;
    height: 230px;
  }

  .posterImage__overlay {
    height: 100%;
  }

  .posterImage__title {
    font-size: 2rem;
  }

  .posterImage__date {
    font-size: 0.8rem;
  }

  .posterImage__description {
    font-size: 0.9rem;
    width: 99%;
  }

  .posterImage {
    height: 520px;
  }
}
